.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: yellow;
    background-image: -o-linear-gradient( 3.7deg, rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
    background-image: linear-gradient( 86.3deg, rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
    width: 100%;
    padding: 5px 0;
}

.main-nav{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.main-nav li a{
    padding: 10px;
    margin-right: 5px;
    color: yellow;
    cursor: pointer;
    text-decoration: none;
}

.main-nav li a:hover{
    background-color: rgba(0,119,182,1);
    border-radius: 3px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.nav-left img{
    height: 70px;
    
}


.social-icons{
    line-height: 0;
    transition: transform 0.3s ease;
}



.facebook{
    color: #1877F2;
    margin-right: 10px;
    font-size: 35px;
}

.instagram{
    color: #E4405F;
    font-size: 35px;
}


.active{
    background-color: rgba(0,119,182,1);
}